* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-image: url("pic1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  min-height: 100vh;
  padding: 20px;
}

#title h1 {
  text-align: center;
  color: white;
  font-size: 55px;
  margin-bottom: 30px;
}

.app-body {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.input-block {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: 1px solid lightgray;
}

.input-block h3 {
  text-align: center;
  margin-bottom: 20px;
}

.input-block div {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
}

.input-block label {
  margin-bottom: 6px;
  font-weight: bold;
}

.input-block input,
.input-block select {
  padding: 8px;
  border-radius: 4px;
  border: none;
}

.input-block input:focus,
.input-block select:focus {
  outline: none;
}

#add-btn {
  margin-top: 10px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  background-color: rgb(78, 221, 78);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.expense-block {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: 1px solid lightgray;
}

.expense-block h3 {
  text-align: center;
  margin-bottom: 20px;
}

.expense-table {
  width: 100%;
  border-collapse: collapse;
  color: white;
}

.expense-table th,
.expense-table td {
  padding: 10px;
  text-align: left;
}

.expense-table thead {
  border-bottom: 2px solid white;
}

.expense-table tbody tr {
  background-color: rgba(255, 255, 255, 0.15);
}

.expense-table tbody tr:not(:last-child) {
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

.expense-table tbody tr.highlight {
  background-color: rgba(255, 255, 0, 0.3);
}



.total {
  margin: 30px auto 0;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.dlt-btn,
.edit-btn {
  margin-left: 8px;
  padding: 8px;
  border-radius: 8px;
  background-color : rgb(78, 221, 78);
  color: white;
  font-weight: bold;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.dlt-btn:hover ,
.edit-btn:hover,
#add-btn:hover {
  opacity: 0.9;
}

.highlight {
  opacity: 0.8;
  border: 1px solid lightgray;
}

.actions {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}
